<h1>  LISTA DE USUARIOS </h1>

<div>
  <label for="usuarioABuscar"></label>
  <input id="usuarioABuscar" type="text">
  <button> BUSCAR </button>
</div>


<div>
  <table>
    
    <!-- tr -- table row -->
    <tr>
      <!-- tr -- table header-->
      <th> Codigo </th>
      <th> Nombre </th>
      <th> Password </th>
      <th> Fecha Nacimiento </th>
      <th> Correo </th>
      <th> Accion </th>
    </tr>
    
    <tr *ngFor="let u of usuarios">
      <td> {{u.id }} </td>
      <td> {{u.nombre}} </td>
      <td> {{u.password }} </td>
      <td> {{u.fecha_nacimiento}} </td>
      <td> {{u.correo}} </td>
      
      
      <td>
        <button (click)="eliminar(empresa)"> Eliminar </button>
        
        <button (click)="eliminar(empresa)"> Actualizar </button>
      </td>
    </tr>
    
    
    
    <!-- Directivas con importantes -->
    <!-- *ngFor   Itera un Arreglo -->
  </table>
</div>
