<!-- header 1-6 Titulos  -->
<h1> Admin </h1>
<!-- ul -> unordered list-->
<!-- ol -> ordered list-->
<ul>
  <!-- li -> list item -->
  <li>
    <!-- a -> anchor -> ancla -->
    <a routerLink="/home/gUsuarios">Gestion de Usuarios</a>
  </li>
  
  <li>
    <a routerLink="/home/gPacientes">Gestion de Pacientes</a>
  </li>
  
  <li>
    <a routerLink="/home/gMedicamentos">Gestion de Medicamentos</a>
  </li>
  <li>
    <a routerLink="/home/gEventos">Gestion de Eventos</a>
  </li>
</ul>

<body>
<router-outlet></router-outlet>
<!-- p -> parrafo  -->
</body>


<p>Proyecto EPN</p>
